input,textarea{
    background-color:#EFEFEF;
}
#save{
    border-radius: 15px;
    background-color: #0C0D51;
    color: white;
    padding: 10px 25px;
    margin-left: 15px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#save:hover{
    background-color: #050637;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
#cancel{
    background-color: #851214;
    color: white;
    border-radius: 15px;
    padding: 10px 25px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#cancel:hover{
    background-color: #6A0F0F;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
#clientName,#clientPhone,#clientNumber,#clientAddress{
    color:black;
    padding: 12px;
}


    