<div class="bg-light p-4 text-center m-4 border" style="border-radius: 20px;">
    <div class="p-3">
        <div class="container card-container">
            <div class="card" style="border-radius: 15px; border-width: 0px;">
                <h2 class="card-title mt-4">
                    <i class="fas fa-user" style=" color: #0C0D51;"></i> Client Details
                </h2>

                <div class="ps-4">
                    <div class="m-0 p-0 backButton">
                        <a id="btn1" (mouseenter)="hoverIn()" class="btn btn-outline-primary btn-back mt-3 fs-5 rounded-pill" routerLink="/manage">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="m-0 p-0 backButton">
                        <a id="btn2" (mouseleave)="hoverOut()" class="btn btn-outline-primary btn-back mt-3 fs-5 rounded-pill" routerLink="/manage/allClients">
                            <i class="fas fa-arrow-left"></i> Back to Clients
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table table-striped table-responsive table-bordered" style="border-radius: 25px; overflow: hidden; background-color: #0C0D51;">
                        <thead class="bg-secondary text-light">
                            <tr>
                                <th>Field</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-light">
                                <td><strong>ID</strong></td>
                                <td>{{client?.id}}</td>
                            </tr>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td>{{client?.name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Address</strong></td>
                                <td>{{client?.address}}</td>
                            </tr>
                            <tr>
                                <td><strong>Phone</strong></td>
                                <td>{{client?.phone}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
