<nav class="navbar navbar-expand-sm navbar-light font-monospace   " style=" background-color: #0C0D51 ;">
    <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="/Home"  > <img src="/assets/pioneers_Logo.png" style="width: 30px; height: 30px; border-radius: 50%"  class="img-fluid" alt=""> Pioneers</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
 >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><i class="fa fa-user-circle p-1"></i> Admin &#64;Pioneers.com</a>
                </li>
              
            </ul>
          
        </div>
    </div>
</nav>
