<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: rgb(12, 12, 80);">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start ms-1" id="menu">
                    <li class="nav-item sideLinks">
                        <a href="#" class="nav-link align-middle px-0 ">
                            <i class="fs-3 bi-house "></i> 
                            <span class="ms-2 d-none d-sm-inline" style="font-size: larger;">Home</span>
                        </a>
                    </li>
                    <li class="nav-item sideLinks">
                        <a href="#" class="nav-link align-middle px-0 ">
                            <i class="bi bi-gear fs-3"></i> 
                            <span class="ms-2 d-none d-sm-inline" style="font-size: larger;">Manage</span>
                        </a>
                    </li>
                    <li class="nav-item sideLinks">
                        <a href="#" class="nav-link align-middle px-0 ">
                            <i class="fs-3 bi-receipt "></i> 
                            <span class="ms-2 d-none d-sm-inline" style="font-size: larger;">Invoice</span>
                        </a>
                    </li>
                    <li class="nav-item sideLinks">
                        <a href="#" class="nav-link align-middle px-0 ">
                            <i class="bi bi-file-earmark-bar-graph fs-3"></i>
                            <span class="ms-2 d-none d-sm-inline" style="font-size: larger;">Reports</span>
                        </a>
                    </li>
                    
                    
                </ul>
                <hr>
                
            </div>
        </div>
        <div class="col p-5" style="background-color: rgba(0, 0, 0,0.1);">
            <app-company-form></app-company-form>
        </div>
    </div>
</div>
