<section class="  mt-4  ">
    <div class="bg-light rounded-5 p-5 m-auto shadow w-75 ">
    @if (id == 0 ) {
        <h2 class="p-2" ><i class="fa-solid fa-folder-plus"style="color: #0C0D51;"></i> Add Company</h2>
    }@else {
        <h2 class="p-2" ><i class="fa-solid fa-folder-plus"style="color: #0C0D51;"></i> Edit Company</h2>
    }
      <div *ngIf="Message" class="alert" [ngClass]="{'success': Message.includes('Successfully'), 'error': Message.includes('Error')}">
        {{ Message }}
      </div>
      <form (ngSubmit)="addCompany()" [formGroup]="companyForm">
  
        <div class="mb-4">
            <input name="name" formControlName="name" type="text" placeholder="Company Name"
            class="form-control rounded-3 p-2 bg-dark-subtle">
            <div *ngIf="companyForm.get('name')?.errors && companyForm.get('name')?.touched" class="alert alert-danger mt-1 py-2">
                <span *ngIf="companyForm.get('name')?.hasError('required')">Company Name is required</span>
            </div>
            <div *ngIf="companyForm.errors?.['uniqueName']" class="alert alert-danger mt-1 py-2">
                <span>Company Name Exists (Must Be Unique !)</span>
            </div>
        </div>
        

        <div>
          <textarea formControlName="notes"  class="form-control rounded-3 p-2 mb-4 bg-dark-subtle" placeholder="Notes"></textarea>
        </div>
        <button *ngIf="id==0" [disabled]="companyForm.invalid" class="btn text-light mx-2 rounded-4" style="background-color: #0C0D51;" type="submit">
          <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
          <span *ngIf="!isLoading">Add</span>
        </button>
        <button *ngIf="id != 0" [disabled]="companyForm.invalid" class="btn text-light mx-2 rounded-4" style="background-color: #0C0D51;" type="submit">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="!isLoading">Edit</span>
          </button>
  
        <button   routerLink="/manage/allCompanies"  type="button" class="btn  rounded-4 text-light mx-2" style="background-color: #851214">Cancel</button>
      </form>
    </div>
    <!-- Success Popup Message -->
  <div
  [ngClass]="{ 'popup-message': true, show: successMessage }"
  class="popup-message"
  >
  <span class="checkmark">&#10003;</span>
  <!-- Checkmark for success -->
  <p>{{ successMessage }}</p>
  </div>
  
</section>
