<div class="bg-light p-4 text-center m-5 border" style="border-radius: 30px;">
    <div class="p-3">
        @if (id == 0 ) {
            <p class="h2 alert text-center text-light" style="background-color: rgba(12,12,80,0.9); border-radius: 20px;">Add Company</p>
        }@else {
            <p class="h2 alert text-center text-light" style="background-color: rgba(12,12,80,0.9); border-radius: 20px;">Edit Company</p>
        }
        <form (submit)="addCompany($event)" class="form mt-5 mx-5" action="" [formGroup]="companyForm">
            <div class="mb-4 align-items-start">
                <input 
                name="name"
                formControlName="name"
                type="text" 
                placeholder="Company Name" 
                class="form-control shadow-sm  mx-auto"
                style="background-color: rgba(0,0,0,0.2);border-width: 0px; width: 70%;"
                >
                @if (getName.touched || clicked == true) {
                        @if (getName.hasError('required')) {
                            <div class="alert alert-danger w-50 py-1 mt-1 mx-auto" style="border-radius: 15px;">
                                <span class="text-dark " >Company Name is Required!</span>
                            </div>
                            
                          }
                          @if (companyForm.errors?.['uniqueName'] ) {
                            <div class="alert alert-danger py-1 w-50 mt-1 mx-auto" style="border-radius: 15px;">
                                <span class="text-dark " >Company Name Exists! Name Must be Unique!</span>
                            </div>
                          }
                                       
                  }
            </div>
            


            <textarea  
            name="notes"
            formControlName="notes"
            placeholder="Notes" 
            class=" form-control shadow-sm mb-5 mx-auto"
            style="background-color: rgba(0,0,0,0.2);border-width: 0px; height: 130px;width: 70%;"
            ></textarea>
            <div class="row mx-5">
                <div class="col"></div> 

                <a
                class="btn btn-danger col me-3 py-2"
                style="border-width: 0px;border-radius: 20px;"
                routerLink="/manage/allCompanies"
                >Cancel</a>      

                @if (id == 0) {
                    <input  type="submit" value="Add" class="btn text-light col ms-3"
                    style="border-radius: 20px; background-color: rgb(12,12,80);border-width: 0px;"> 
                }@else {
                    <input  type="submit" value="Change" class="btn text-light col ms-3"
                    style="border-radius: 20px; background-color: rgb(12,12,80);border-width: 0px;"> 
                }
                
                <div class="col"></div>              
            </div>
            
        </form>
    </div>
    
</div>
