<section class="d-flex flex-column align-items-center">
  <div class="bg-white rounded-5 w-75 w-md-75 shadow mx-auto my-3 my-md-5 p-4">
    <div
      class="d-flex flex-column flex-md-row justify-content-center justify-content-md-evenly align-items-center text-center text-md-start"
    >
      <img
        src="assets/image.png"
        alt="Billing Image"
        class="img-fluid mb-3 mb-md-0"
        style="max-width: 150px; width: 100%"
      />
      <h5 class="ms-0 ms-md-4">
        Pioneering Your Path to Effortless Billing...
      </h5>
    </div>
  </div>

  <div class="bg-white w-75 w-md-75 rounded-5 shadow mx-auto my-3 my-md-5 p-4">
    <div class="row text-center text-md-start">
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <a
          routerLink="/invoice/addInvoice"
          routerLinkActive="router-link-active"
          class="d-flex flex-column align-items-center text-decoration-none text-dark rounded-5 p-3"
        >
          <!-- Adjusted image size -->
          <img
            src="assets/e-invoice-check-list.png"
            class="img-fluid mb-2"
            alt="Add Invoice"
            style="max-width: 100px; width: 100%"
          />
          <h6>Add Invoice</h6>
        </a>
      </div>
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <a
          routerLink="/AddItem"
          routerLinkActive="router-link-active"
          class="d-flex flex-column align-items-center text-decoration-none text-dark rounded-5 p-3"
        >
          <!-- Adjusted image size -->
          <img
            src="assets/invoice-list.png"
            class="img-fluid mb-2"
            alt="Add Item"
            style="max-width: 100px; width: 100%"
          />
          <h6>Add Item</h6>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a
          class="d-flex flex-column align-items-center text-decoration-none text-dark rounded-5 p-3"
          routerLink="/reports"
        >
          <!-- Adjusted image size -->
          <img
            src="assets/invoice-send.png"
            class="img-fluid mb-2"
            alt="Reports"
            style="max-width: 100px; width: 100%"
          />
          <h6>Reports</h6>
        </a>
      </div>
    </div>
  </div>
</section>
