table th {
  background-color: #0C0D51;
  color: #FFFFFF;
}

#btn2 {
  display: none;
  box-shadow: 10px 10px 8px #888888;
  width: 210px;
  animation-name: colors;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.backButton {
  display: flex;
  justify-content: start;
  max-width: 210px;
  white-space: nowrap;
}

span {
  border-radius: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  width: 100%;
}

.popup-message {
  position: absolute;
  top: 20px;
  left: 57%;
  transform: translateX(-50%);
  background-color: #e90a0a;
  color: white;
  padding: 8px 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 1.2rem;
  text-align: center;
  width: auto;
  max-width: 95%;
  line-height: 1.3;
  border: none;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.popup-message .checkmark {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto;
  display: block;
}

.popup-message p {
  font-size: 1rem;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.popup-message.show {
  opacity: 1;
}

.popup-message.show p {
  opacity: 1;
}
