<section class="sidenave text-light rounded-bottom-3 font-monospace">
    <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="list-unstyled ">
                <li class="m-4 ">
                     <a class="text-decoration-none text-white" routerLink="/Home"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="m-4"> <a class="text-decoration-none text-white" routerLink="/manage" ><i class="fa fa-gear"></i> Manage</a></li>
                <li class="m-4"><i class="fa fa-file-invoice"></i> Invoice</li>
                <li class="m-4"><i class="fa fa-clipboard"></i> Reports</li>
            </ul>
          </div>
        </div>
    </div>
</section>