<section class="sidenave text-light  font-monospace">
    <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="list-unstyled ">
                <li class="m-4 ">
                     <a class="text-decoration-none text-white" 
                     routerLink="/Home"
                     routerLinkActive="marked"
                     ><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="m-4"> 
                  <a class="text-decoration-none text-white" routerLink="/manage" routerLinkActive="marked" ><i class="fa fa-gear"></i> Manage</a>
                </li>
                <li class="m-4">
                  <a class="text-decoration-none text-white" routerLinkActive="marked"  routerLink="/AddInvoice"><i class="fa fa-file-invoice"></i> Invoice</a>
                </li>
                <li class="m-4">
                  <a  class="text-decoration-none text-white" routerLinkActive="marked" routerLink="/reports" ><i class="fa fa-clipboard"></i> Reports</a>
                </li>
            </ul>
          </div>
        </div>
    </div>
</section>