
<section class="  mt-4  ">
  <div class="bg-light rounded-5 p-5 m-auto shadow w-75 ">
  @if (typeId == 0 ) {
      <h2 class="p-2" ><i class="fa-solid fa-folder-plus"style="color: #0C0D51;"></i> Add Type</h2>
  }@else {
      <h2 class="p-2" ><i class="fa-solid fa-folder-plus"style="color: #0C0D51;"></i> Edit Type</h2>
  }
    <form (ngSubmit)="addType($event)" [formGroup]="TypeForm">

      <div class="mb-4">
        <div class="form-group position-relative">
          <select
            formControlName="companyName"
            class="form-control rounded-3 p-2 bg-dark-subtle">
              <option value="" disabled>Select Company</option>
              <option *ngFor="let company of companyArray" [value]="company.name">
                {{ company.name }}
              </option>
          </select>
          <i class="fa fa-chevron-down position-absolute" style="right: 15px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i>
        </div>
        <div *ngIf="getCompanyName.errors && getCompanyName.touched" class="alert alert-danger mt-1 py-2">
          <span *ngIf="getCompanyName.hasError('required')">Company Name is Required!</span>
        </div>
      </div>
      
      <div class="mb-4">
        @if (TypeForm.hasError('chooseCompanyFirst')) {
          <input name="name" formControlName="name" readonly type="text" placeholder="Type Name"
                class="form-control rounded-3 p-2 bg-dark-subtle">
        }@else{
          <input name="name" formControlName="name" type="text" placeholder="Type Name"
                class="form-control rounded-3 p-2 bg-dark-subtle">
        }
          
          <div *ngIf="getName.errors && getName.touched" class="alert alert-danger mt-1 py-2">
              <span *ngIf="getName.hasError('required') && !TypeForm.hasError('chooseCompanyFirst')">Type Name is required</span>
              <span *ngIf="TypeForm.hasError('chooseCompanyFirst')">Choose Company First! </span>
          </div>
          <div *ngIf="getName.touched && TypeForm.errors?.['uniqueTypeName']" class="alert alert-danger mt-1 py-2">
            <span>( {{getCompanyName.value}} ) already has Type: ( {{getName.value}} ) </span>
          </div>
      </div>
      
      <div>
        <textarea formControlName="notes"  class="form-control rounded-3 p-2 mb-4 bg-dark-subtle" placeholder="Notes"></textarea>
      </div>
      <button *ngIf="typeId==0" [disabled]="TypeForm.invalid" class="btn text-light mx-2 rounded-4" style="width:15%; background-color: #0C0D51;" type="submit">
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
        <span *ngIf="!isLoading">Add</span>
      </button>
      <button *ngIf="typeId != 0" [disabled]="TypeForm.invalid" class="btn text-light mx-2 rounded-4" style="width:15%; background-color: #0C0D51;" type="submit">
          <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
          <span *ngIf="!isLoading">Edit</span>
        </button>

      <button   routerLink="/manage/Type"  type="button" class="btn  rounded-4 text-light mx-2" style="width:15%; background-color: #851214">Cancel</button>
    </form>
  </div>
  

</section>
<!-- Success Popup Message -->
<div
[ngClass]="{ 'popup-message': true, show: successMessage }"
class="popup-message"
>
<span class="checkmark">&#10003;</span>
<!-- Checkmark for success -->
<p>{{ successMessage }}</p>
</div>