


table th
{
    background-color: #0C0D51;
    color: #FFFFFF;
}

#btn2{
    display: none;
    box-shadow: 10px 10px 8px #888888;
    width: 210px;
    animation-name: colors;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.backButton{
    display: flex;
    justify-content: start;
    max-width: 210px;
    white-space: nowrap;
}


 span{
    /* background-color: rgba(12, 12, 80, 0.93); */
    border-radius: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
    width: 100%;
}
@keyframes colors{
    0%{
        opacity: 30%;
        width: 30%;
        box-shadow: 10px 10px 8px #888888;
    }
    30%{
        opacity: 65%;
        width: 65%;
        box-shadow: 10px 10px 8px #888888;
    }
    100%{
        width: 100%;
        opacity: 100%;
        box-shadow: 10px 10px 8px #888888;    
    }
}